{% set classes = [
  'layout',
  'layout-section',
  'layout--twocol-section',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if add_container %}
      <div class="container">
    {% endif %}
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second_top_first or content.second_top_second or content.second_bottom %}
        <div class="layout__region layout__region--second">
          <div class="section-second-top grid-x">
            <div class="cell small-12 medium-12 large-6 left-side">{{ content.second_top_first }}</div>
            <div class="cell small-12 medium-12 large-6 right-side" style="text-align: right;">{{ content.second_top_second }}</div>
          </div>
          <div class="section-second-bottom">
            {{ content.second_bottom }}
          </div>
        </div>
      {% endif %}
    {% if add_container %}
      </div>
    {% endif %}
  </div>
{% endif %}

